h1 {
  text-align: center;
}

.form {
  width: 50%;
  margin: auto;
}

.form form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.form label {
  width: 45%;
  text-align: right;
  margin: 5px 5px 5px auto;
}

.form input {
  width: 50%;
  height: 20px;
  margin: 5px auto 5px 5px;
}

.form p {
  color: red;
  width: 100%;
  text-align: right;
  height: auto;
  margin: 0;
}

#submit {
  width: 20%;
  margin: 5px auto;
}

.user {
  text-align: center;
}